.slide-enter-active[data-v-bad15356],.slide-leave-active[data-v-bad15356]{transition:all .4s ease}.slide-enter-from[data-v-bad15356],.slide-leave-to[data-v-bad15356]{opacity:0;transform:translateY(-10px)}
