.slide-enter-active[data-v-b93d97d3],.slide-leave-active[data-v-b93d97d3]{transition:all .4s ease}.slide-enter-from[data-v-b93d97d3],.slide-leave-to[data-v-b93d97d3]{opacity:0;transform:translateY(-10px)}
