.slide-enter-active[data-v-030cc603],.slide-leave-active[data-v-030cc603]{transition:all .4s ease}.slide-enter-from[data-v-030cc603],.slide-leave-to[data-v-030cc603]{opacity:0;transform:translateY(-10px)}
