.slide-enter-active[data-v-ff6e2dad],.slide-leave-active[data-v-ff6e2dad]{transition:all .4s ease}.slide-enter-from[data-v-ff6e2dad],.slide-leave-to[data-v-ff6e2dad]{opacity:0;transform:translateY(-10px)}
